[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=audio/flac
Actions=lac;resampler
X-KDE-Submenu=audio-menu
X-KDE-Priority=TopLevel

[Desktop Action lac]
Name=lac
Exec=~/git/zsh-scripts/src/lac.zsh %F

[Desktop Action resampler]
Name=resampler
Exec=~/git/zsh-scripts/src/resampler.zsh %F
