[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
Actions=flac-folder;fonts-copy;upload-FtC;upload-FtC-wInLogs;mktorrent;mktorrent-inMkv;albumart-dl;7z;7z-psswd
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=folder-menu

[Desktop Action flac-folder]
Exec=~/git/zsh-scripts/src/ffmpeg-flac-folder.zsh %F
Name=flac-folder

[Desktop Action upload-FtC]
Exec=~/git/zsh-scripts/src/upload-FtC.zsh %F
Name=upload-FtC

[Desktop Action upload-FtC-wInLogs]
Exec=~/git/zsh-scripts/src/upload-FtC.zsh --wInLogs %F
Name=upload-FtC-wInLogs

[Desktop Action mktorrent]
Exec=~/git/zsh-scripts/src/mktorrent.zsh %F
Name=mktorrent

[Desktop Action mktorrent-inMkv]
Exec=~/git/zsh-scripts/src/mktorrent.zsh --inMkv %F
Name=mktorrent-inMkv

[Desktop Action albumart-dl]
Exec=~/git/zsh-scripts/src/albumart-dl.zsh %F
Name=albumart-dl

[Desktop Action fonts-copy]
Exec=~/git/zsh-scripts/src/fonts-folder-copy.zsh %F
Name=fonts-copy
