[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/*
Actions=image-uploader;image-uploader-tag;image-uploader-pw;image-optim;image-optim-png;getnative;getnative-detail
X-KDE-Priority=TopLevel
X-KDE-Submenu=image-menu

[Desktop Action image-uploader]
Name=image-uploader
Exec=~/git/zsh-scripts/src/image-uploader.zsh %F

[Desktop Action image-uploader-tag]
Name=image-uploader-tag
Exec=~/git/zsh-scripts/src/image-uploader.zsh --tag %F

[Desktop Action image-uploader-pw]
Name=image-uploader-pw
Exec=~/git/zsh-scripts/src/image-uploader.zsh --pw %F

[Desktop Action image-optim]
Name=image-optim
Icon=application/x-kdeuser1
Exec=~/git/zsh-scripts/src/image-optim.zsh %F

[Desktop Action image-optim-png]
Name=image-optim-png
Icon=application/x-kdeuser1
Exec=~/git/zsh-scripts/src/image-optim.zsh --png_mod %F

[Desktop Action getnative]
Name=getnative
Icon=application/x-kdeuser1
Exec=~/git/zsh-scripts/src/getnative.zsh %F

[Desktop Action getnative-detail]
Name=getnative-detail
Icon=application/x-kdeuser1
Exec=~/git/zsh-scripts/src/getnative.zsh --detail %F
