[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-xz-compressed-tar;application/x-compressed-tar
Actions=install_tar
#X-KDE-Submenu=&Root Actions
#X-KDE-Submenu[ru]=Действия root
X-KDE-Priority=TopLevel
#Icon=application/x-xz-compressed-tar
#X-KDE-StartupNotify=false
#StartupNotify=false


[Desktop Action install_tar]
Name=install tar
Icon=application/x-xz-compressed-tar
Exec=kdesu --noignorebutton -c 'sudo pacman --noconfirm -U %F'



#Exec=kkdialog --title \"Delete files\" --warningyesno \"rm -f -r %U\n???\" --dontagain \"sram_d:dontaskagain\" && kdesu --noignorebutton -i edit-delete -c \"rm -f -r\" %U && kdialog --passivepopup \"Deleted successfully!\"

#Exec=kdesu --noignorebutton -i $EDIT_APP_ICON -c $EDIT_APP %U

#Exec=kdesu -d --noignorebutton -c 'sudo cp "%f" /usr/bin/'
