[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-bittorrent
Actions=torrent-add-nyaa
X-KDE-Priority=TopLevel

[Desktop Action torrent-add-nyaa]
Name=torrent-add-nyaa
Exec=~/my/scripts/py/torrent-add-nyaa.py %F
